name = "holssi-worker" 
main = "build/worker/shim.mjs"
compatibility_date = "2022-09-12"

account_id = "" # fill here

[build]
command = "cargo install -q worker-build --version 0.0.9 && worker-build --release"

[[r2_buckets]]
binding = "HOLSSI_BUCKET"
bucket_name = "" # fill here
preview_bucket_name = "" # fill here

[[kv_namespaces]]
binding = "holssi"
id = "" # fill here
preview_id = "" # fill here
